@font-face
    font-family 'PFDinDisplayPro-Regular'
    src url('fonts/PFDinDisplayPro-Regular_gdi.eot')
    src url('fonts/PFDinDisplayPro-Regular_gdi.eot') format('embedded-opentype'),
        url('fonts/PFDinDisplayPro-Regular_gdi.woff') format('woff'),
        url('fonts/PFDinDisplayPro-Regular_gdi.ttf') format('truetype'),
        url('fonts/PFDinDisplayPro-Regular_gdi.svg#PFDinDisplayPro-Regular') format('svg')
    font-weight 400
    font-stretch normal
    font-style normal

@font-face
    font-family 'PFDinDisplayPro-Bold'
    src url('fonts/PFDinDisplayPro-Bold_gdi.eot')
    src url('fonts/PFDinDisplayPro-Bold_gdi.eot') format('embedded-opentype'),
        url('fonts/PFDinDisplayPro-Bold_gdi.woff') format('woff'),
        url('fonts/PFDinDisplayPro-Bold_gdi.ttf') format('truetype'),
        url('fonts/PFDinDisplayPro-Bold_gdi.svg#PFDinDisplayPro-Bold') format('svg')
    font-weight 700
    font-stretch normal
    font-style normal

@font-face
    font-family 'PFDinDisplayPro-Light'
    src url('fonts/PFDinDisplayPro-Light_gdi.eot')
    src url('fonts/PFDinDisplayPro-Light_gdi.eot') format('embedded-opentype'),
        url('fonts/PFDinDisplayPro-Light_gdi.woff') format('woff'),
        url('fonts/PFDinDisplayPro-Light_gdi.ttf') format('truetype'),
        url('fonts/PFDinDisplayPro-Light_gdi.svg#PFDinDisplayPro-Light') format('svg')
    font-weight 300
    font-stretch normal
    font-style normal

@font-face
    font-family 'PFDinDisplayPro-Medium'
    src url('fonts/PFDinDisplayPro-Medium_gdi.eot')
    src url('fonts/PFDinDisplayPro-Medium_gdi.eot') format('embedded-opentype'),
        url('fonts/PFDinDisplayPro-Medium_gdi.woff') format('woff'),
        url('fonts/PFDinDisplayPro-Medium_gdi.ttf') format('truetype'),
        url('fonts/PFDinDisplayPro-Medium_gdi.svg#PFDinDisplayPro-Medium') format('svg')
    font-weight 500
    font-stretch normal
    font-style normal