//fonts

fontReg = 'PFDinDisplayPro-Regular'
fontLight = 'PFDinDisplayPro-Light'
fontMed = 'PFDinDisplayPro-Medium'
fontBold = 'PFDinDisplayPro-Bold'
fontOpen = 'Open Sans'

//colors

defColor = #666666
bodyBg = #f7f7f7
redColor = #df0b3d
grayColor = #333333
yellowColor = #fcda32
grayBorder = #e5e5e5
placeholderColor = #999999
blueColor = #6e92bd
